/* Colors */
$white: #ffffff;
$dark: #161a1d;
$gray: #f5f3f4;
$darkGray: #5a5955;
$red: #e5383b;
$blue: #28616b;
$yellow: #fc0;

/* Font Sizes */
$spanSize: 8px;
$extraSmall: 10px;
$small: 12px;
$medium: 14px;
$big: 18px;

/* Font Weights */
$light: 400;
$normal: 500;
$bold: 600;
