@import 'variables';
@import 'mediaQueries';
@import "components/program";
@import "components/slip";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background-color: $blue;
  height: 100vh;
  min-height: calc(100vh - 674px);
  overflow: scroll;
  padding: 0 0 60px;
}
.container {
  background: $gray;
  border-radius: 4px;
  box-shadow: 1px 20px 30px 0 rgb(0 0 0 / 20%);
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 100%;

  @media #{$desktop-sm} {
    border-radius: 0;
    padding: 0;
  }
}

